body {
   background-color: #181818;
   color: #F28C28;
}
h1 {
   font-family: verdana;
   font-size: 150%;
}

h2 {
   font-family: verdana;
   font-size: 125%;
}

table, td, th {
   border: 1px solid;
   border-collapse: collapse;
   font-family: verdana;
   padding: 3px;
}

p {
   font-family: verdana;
}
