body {
   background-color: #D3D3D3;
}
h1 {
   color: black;
   font-family: verdana;
   font-size: 150%;
}

h2 {
   color: black;
   font-family: verdana;
   font-size: 125%;
}

table, td, th {
   border: 1px solid;
   border-collapse: collapse;
   font-family: verdana;
   padding: 2px;
}

p {
   font-family: verdana;
}
