[Unit]
Description=RaspAstro Web Application
After=multi-user.target

[Service]
Type=idle
# MUST SET YOUR USERNAME HERE (install script takes care of this).
User=pi

# SHOULD BE SET TO INSTALL_DIR
WorkingDirectory=/var/www/raspastro

# SHOULD BE SET TO INSTALL_DIR
ExecStart=/var/www/raspastro/raspastro-web.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
