<!DOCTYPE html>
<head>
<title>RaspAstro</title>
<script type="text/javascript">
function toggleobserver() {
	document.getElementById("observer").style.display="block";
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="none";
	document.getElementById("polaris").style.display="none";
	document.getElementById("deepsky").style.display="none";
	document.getElementById("forecast").style.display="none";
	}
function togglesolarsystem() {
	document.getElementById("observer").style.display="none";
	document.getElementById("solarsystem").style.display="block";
	document.getElementById("iss").style.display="none";
	document.getElementById("polaris").style.display="none";
	document.getElementById("deepsky").style.display="none";
	document.getElementById("forecast").style.display="none";
	}
function toggleiss() {
	document.getElementById("observer").style.display="none";
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="block";
	document.getElementById("polaris").style.display="none";
	document.getElementById("deepsky").style.display="none";
	document.getElementById("forecast").style.display="none";
	}
function togglepolaris() {
	document.getElementById("observer").style.display="none";
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="none";
	document.getElementById("polaris").style.display="block";
	document.getElementById("deepsky").style.display="none";
	document.getElementById("forecast").style.display="none";
	}
function toggledeepsky() {
	document.getElementById("observer").style.display="none";
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="none";
	document.getElementById("polaris").style.display="none";
	document.getElementById("deepsky").style.display="block";
	document.getElementById("forecast").style.display="none";
	}
function toggleforecast() {
	document.getElementById("observer").style.display="none";
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="none";
	document.getElementById("polaris").style.display="none";
	document.getElementById("deepsky").style.display="none";
	document.getElementById("forecast").style.display="block";
	}
function refreshdata() {
	location.reload()
}
</script>
<link rel="stylesheet" href="/static/raspastro-style.css">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/RaspAstro-favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/RaspAstro-favicon-16x16.png">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
</head>

<body onload="toggleobserver()">
<h1>RaspAstro</h1>

<div class="panel_container">
	<div id="displayctl">
		<button id="toggleobserver" onclick="toggleobserver();">Observer</button>
		<button id="toggleforecast" onclick="toggleforecast();">Forecast</button>
		<button id="togglesolarsystem" onclick="togglesolarsystem();">Solar System</button>
		<button id="toggleiss" onclick="toggleiss();">ISS</button>
		<button id="togglepolaris" onclick="togglepolaris();">Polaris</button>
		<button id="toggledeepskey" onclick="toggledeepsky();">Deep Sky</button>
		<button id="refreshdata" onclick="refreshdata();">Refresh Data</button>
	</div>


<div id="observer">
<p>Refreshed at: {{ datetime }}</p>
<h2>Observer Data</h2>
<table>
<tr>
<td>GPS Fix:</td><td>{{ gpsdata[0] }}</td>
</tr>
<tr>
<td>Observer's Lat:</td><td>{{ gpsdata[1] }}</td>
</tr>
<tr>
<td>Observer's Lon:</td><td>{{ gpsdata[2] }}</td>
</tr>
<tr>
<td>Observer's Elevation:</td><td>{{ gpsdata[3] }} meters</td>
</tr>
<tr>
<td>Configured Horizon (D:M:S):</td><td>{{ gpsdata[4] }}</td>
</tr>
<tr>
<td>Observer's Sidereal:</td><td>{{ obssidereal }}</td>
</tr>
</table>
<p> </p>
{{ obsiframe|safe }}


<p> </p>
<iframe id="indi_iframe" src="/indi" width="600" height="250" border="0" style="border:none !important;"></iframe>

</div>

<div id="forecast">
<p>Refreshed at: {{ datetime }}</p> 
<h2>Clear Outside Forecast</h2>
<a href="http://clearoutside.com/forecast/{{ gpslatdec }}/{{ gpslondec}}"><img src="http://clearoutside.com/forecast_image_large/{{ gpslatdec }}/{{ gpslondec }}/forecast.png" /></a>
</div>


<div id="solarsystem">
<p>Refreshed at: {{ datetime }}</p> 
<h2>Sun</h2>
<table>
<tr>
<td>Sun Altitude:</td>
{% if sun['sun_alt'] > 0 %}
<td bgcolor="green">
{% else %}
<td>
{% endif %}
{{ sun['sun_alt'] }}° {{ sun['rising_sign'] }}</td>
<td rowspan="7"><img src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_HMIIF.jpg" width="200"><br>Source: <a href="https://sdo.gsfc.nasa.gov/data/">SDO Image</a></td>


</tr>

<tr>
<td>Sun Distance:</td><td>{{ sun['earth_distance_km'] }} km </td>
</tr>
<tr>
<td>Next Sunrise:</td><td>{{ sun['next_sunrise'] }} </td>
</tr>
<tr>
<td>Next Sunset:</td><td>{{ sun['next_sunset'] }} </td>
</tr>
<tr>
<td>Next Equinox:</td><td>{{ sun['next_equinox'] }} </td>
</tr>
<tr>
<td>Next Solstice:</td><td>{{ sun['next_solstice'] }} </td>
</tr>
<tr>
	<td colspan="2" align="center"><a href="/sun">Sun Rise/Set Times</a></td>
</tr>
</table>

<h2>Moon</h2>
<table>
<tr>
<td>Moon Altitude:</td>
{% if moon['moon_alt'] > 0 %}
<td bgcolor="green">
{% else %}
<td>
{% endif %}
	{{ moon['moon_alt'] }}° {{ moon['rising_sign'] }}</td><td rowspan="10">
<img src="/static/Moon/{{ moonimage[moon['moon_quarter']][moon['moon_phase_name']] }}" width="200">
<br>Source: <a href="https://moon.nasa.gov/">NASA Moon</a></td>
</tr>
<tr>
<td>Moon Distance:</td><td>{{ moon['earth_distance_km'] }} km</td>
</tr>
<tr>
<td>Next Moon Transit:</td><td>{{ moon['next_moon_transit'] }}</td>
</tr>
<tr>
<td>Next Moon Rise:</td><td>{{ moon['next_moonrise'] }}</td>
</tr>
<tr>
<td>Next Moon Set:</td><td>{{ moon['next_moonset'] }}</td>
</tr>
<tr>
<td>Current Phase:</td><td>{{ moon['moon_phase_emoji'] }} {{ moon['moon_phase_percent'] }}% {{ moon['moon_quarter'] }} {{ moon['moon_phase_name'] }}</td>
</tr>
<tr>
<td>Moon Cycle:</td><td>{{ moon['cycle_percent'] }}% of the 29.53 day cycle</td>
</tr>
<tr>
<td>Next New Moon:</td><td>{{ moon['next_new_moon'] }} </td>
</tr>
<tr>
<td>Next Full Moon:</td><td>{{ moon['next_full_moon'] }} </td>
</tr>
<tr>
	<td colspan="2" align="center"><a href="/moon">Moon Stats</a></td>
</tr>
</table>

<h2>Planets</h2>
<table>
<tr>
	<td>Name</td>
	<td>Altitude</td>
	<td>Azimuth</td>
	<td>Magnitude</td>
	<td>Next Transit</td>
	<td>Sun Distance (AU)</td>
	<td>Earth Distance (AU)</td>
	<td rowspan=8><img src="/static/planets.png" width="200"><br><a href="/static/planets.png">Full-size</a></td>
</tr>
{% if mercury['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
        <td>☿️ {{ mercury['name'] }}</td>
	<td>{{ mercury['alt'] }}° {{ mercury['rising_sign'] }}</td>
	<td>{{ mercury['az'] }}°</td>
	<td>{{ mercury['mag'] }}</td>
	<td>{{ mercury['next_transit'] }}</td>
	<td>{{ mercury['sun_distance'] }}</td>
	<td>{{ mercury['earth_distance'] }}</td>
</tr>
{% if venus['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>♀️ {{ venus['name'] }}</td>
	<td>{{ venus['alt'] }}° {{ venus['rising_sign'] }}</td>
	<td>{{ venus['az'] }}°</td>
	<td>{{ venus['mag'] }}</td>
	<td>{{ venus['next_transit'] }}</td>
	<td>{{ venus['sun_distance'] }}</td>
	<td>{{ venus['earth_distance'] }}</td>
</tr>
{% if mars['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>♂️ {{ mars['name'] }}</td>
	<td>{{ mars['alt'] }}° {{ mars['rising_sign'] }}</td>
	<td>{{ mars['az'] }}°</td>
	<td>{{ mars['mag'] }}</td>
	<td>{{ mars['next_transit'] }}</td>
	<td>{{ mars['sun_distance'] }}</td>
	<td>{{ mars['earth_distance'] }}</td>
</tr>
{% if jupiter['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>♃ {{ jupiter['name'] }}</td>
	<td>{{ jupiter['alt'] }}° {{ jupiter['rising_sign'] }}</td>
	<td>{{ jupiter['az'] }}°</td>
	<td>{{ jupiter['mag'] }}</td>
	<td>{{ jupiter['next_transit'] }}</td>
	<td>{{ jupiter['sun_distance'] }}</td>
	<td>{{ jupiter['earth_distance'] }}</td>
</tr>
{% if saturn['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>♄ {{ saturn['name'] }}</td>
	<td>{{ saturn['alt'] }}° {{ saturn['rising_sign'] }}</td>
	<td>{{ saturn['az'] }}°</td>
	<td>{{ saturn['mag'] }}</td>
	<td>{{ saturn['next_transit'] }}</td>
	<td>{{ saturn['sun_distance'] }}</td>
	<td>{{ saturn['earth_distance'] }}</td>
</tr>
{% if uranus['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>♅ {{ uranus['name'] }}</td>
	<td>{{ uranus['alt'] }}° {{ uranus['rising_sign'] }}</td>
	<td>{{ uranus['az'] }}°</td>
	<td>{{ uranus['mag'] }}</td>
	<td>{{ uranus['next_transit'] }}</td>
	<td>{{ uranus['sun_distance'] }}</td>
	<td>{{ uranus['earth_distance'] }}</td>
</tr>
{% if neptune['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>♆ {{ neptune['name'] }}</td>
	<td>{{ neptune['alt'] }}° {{ neptune['rising_sign'] }}</td>
	<td>{{ neptune['az'] }}°</td>
	<td>{{ neptune['mag'] }}</td>
	<td>{{ neptune['next_transit'] }}</td>
	<td>{{ neptune['sun_distance'] }}</td>
	<td>{{ neptune['earth_distance'] }}</td>
</tr>
</table>
<p>1 AU = ~150 million Kilometers = ~93 million miles = 8.3 light-minutes</p>
</div>

<div id="iss">
<iframe id="iss_iframe" src="/iss" width="700" height="900" border="0" style="border:none !important;"></iframe>
</div>


<div id="polaris">
<p>Refreshed at: {{ datetime }}</p>
<h2>Polar Alignment</h2>
<table>
<tr>
<td>Refreshed at:</td><td>{{ datetime }}</td>
</tr>
<tr>
	<td>Polaris Hour Angle:</td><td>{{ polaris['hourangle'] }} hours or {{ polaris['phourangle'] }}°</td>
</tr>
<tr>
<td>Polaris Next Transit:</td><td>{{ polaris['next_transit'] }}</td>
</tr>
</table>
<p> </p>
<img src="/static/polarisalign.png">
<p>Inverted image as seen through polar alignment scope.</p>

</div>

<div id="deepsky">
<p>Refreshed at: {{ datetime }}</p>
<h2>User Defined Objects</h2>
<p>User defined objects are set in config.py using the CUSTOM_OBJECTS which is a list of XEphem formatted catalog data for each object.</p>
<table>
<tr>
	<td>Name</td>
	<td>Type</td>
	<td>Alt</td>
	<td>Az</td>
	<td>RA</td>
	<td>DEC</td>
	<td>Next Transit</td>
	<td>Mag</td>
	<td>Constellation</td> 
</tr>
{% for object in deepsky %}
{% if deepsky[object]['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}
	<td>{{ object }}</td>
	<td>{{ deepsky[object]['class_name'] }}</td>
	<td>{{ deepsky[object]['alt'] }}°{{ deepsky[object]['rising_sign'] }}</td>
	<td>{{ deepsky[object]['az'] }}°</td>
	<td>{{ deepsky[object]['a_ra'] }}</td>
	<td>{{ deepsky[object]['a_dec'] }}</td>
	<td>{{ deepsky[object]['next_transit'] }}</td>
	<td>{{ deepsky[object]['mag'] }}</td>
	<td>{{ deepsky[object]['constellation'][1] }}</td>
</tr>
{% endfor %}

</table>

<h2>Messier Objects</h2>
<p>The Messier objects are a set of 110 astronomical objects catalogued by the French astronomer Charles Messier. The table below is generated using data from the <a href="https://github.com/XEphem/Catalogs">XEphem Catalogs</a>.</p>
<table>
<tr>
	<td>Name</td>
	<td>Type</td>
	<td>Alt</td>
	<td>Az</td>
	<td>RA</td>
	<td>DEC</td>
	<td>Next Transit</td>
	<td>Mag</td>
	<td>Constellation</td> 
</tr>
{% for object in messier %}

{% if messier[object]['alt'] > 0 %}
<tr bgcolor="green">
{% else %}
<tr>
{% endif %}

	<td>{{ object }}</td>
	<td>{{ messier[object]['class_name'] }}</td>
	<td>{{ messier[object]['alt'] }}°{{ messier[object]['rising_sign'] }}</td>
	<td>{{ messier[object]['az'] }}°</td>
	<td>{{ messier[object]['a_ra'] }}</td>
	<td>{{ messier[object]['a_dec'] }}</td>
	<td>{{ messier[object]['next_transit'] }}</td>
	<td>{{ messier[object]['mag'] }}</td>
	<td>{{ messier[object]['constellation'][1] }}</td>
</tr>
{% endfor %}

</table>

</div>

</div>
<p><a href="https://github.com/herseyc/raspastro">RaspAstro</a> by Hersey from <a href="http://www.suffolksky.com/">SuffolkSky.com</a></p>

</body>

</html>
