<!DOCTYPE html>
<head>
<title>RaspAstro ISS Page</title>
<meta http-equiv="refresh" content="30">
<link rel="stylesheet" href="/static/raspastro-style.css">
</head>

<body>
<h2>ISS Current Information</h2>
<table>
<tr>
<td>Current Date/Time:</td><td>{{ datetime }}</td>
</tr>
<tr>
<td>ISS Geocentric Lat:</td><td>{{ isscurrent['geolat'] }}</td>
</tr>
<tr>
<td>ISS Geocentric Lon:</td><td>{{ isscurrent['geolong'] }}</td>
</tr>
<tr>
<td>ISS Elevation:</td><td>{{ isscurrent['elevation_miles'] }} Miles</td>
</tr>
<tr>
<td>ISS Velocity:</td><td>{{ isscurrent['range_velocity'] }} Meters/s</td>
</tr>
</table>
<p> </p>

{{ iframe|safe }}

<h2>Visible ISS Passes Next {{ duration }} Days</h2>

<table>
<tr>
<td>Start Time</td><td>End Time</td><td>Max Altitude</td>
</tr>
  {% for pass in iss_pass_list %}
<tr>
      <td>{{ pass['aos'] }}</td><td>{{  pass['los'] }}</td><td>{{ pass['alt_max'] }} degrees</td>
</tr>
  {% endfor %}
</table>


</body>

</html>
