<!DOCTYPE html>
<head>
<title>RaspAstro Status Page</title>
<script type="text/javascript">
function togglesolarsystem() {
	document.getElementById("solarsystem").style.display="block";
	document.getElementById("iss").style.display="none";
	document.getElementById("indi").style.display="none";
	}
function toggleiss() {
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="block";
	document.getElementById("indi").style.display="none";
	}
function toggleindi() {
	document.getElementById("solarsystem").style.display="none";
	document.getElementById("iss").style.display="none";
	document.getElementById("indi").style.display="block";
	}
function refreshdata() {
	location.reload()
}
</script>
</head>

<body onload="togglesolarsystem()">
<h1>RaspAstro Status</h1>

<p>Current Date/Time: {{ datetime }}</p>

<div class="panel_container">
	<div id="displayctl">
		<button id="togglesolarsystem" onclick="togglesolarsystem();">Solar System</button>
		<button id="toggleiss" onclick="toggleiss();">ISS</button>
		<button id="toggleindi" onclick="toggleindi();">INDI Services</button>
		<button id="refreshdata" onclick="refreshdata();">Refresh Data</button>
	</div>

<div id="solarsystem">
<h2>Moon Information</h2>
<table>
<tr>
<td>Current Phase:</td><td>{{ moon['moon_phase_emoji'] }} {{ moon['moon_phase_percent'] }}% {{ moon['moon_quarter'] }} {{ moon['moon_phase_name'] }}</td>
</tr>
<tr>
<td>Moon Cycle:</td><td>{{ moon['cycle_percent'] }} % of the 29.53 day cycle</td>
</tr>
<tr>
<td>Next New Moon:</td><td>{{ moon['next_new_moon'] }} </td>
</tr>
<tr>
<td>Next Full Moon:</td><td>{{ moon['next_full_moon'] }} </td>
</tr>
</table>

<h2>Sun Information</h2>
<table>
<tr>
<td>Next Sunrise:</td><td>{{ sun['next_sunrise'] }} </td>
</tr>
<tr>
<td>Next Sunset:</td><td>{{ sun['next_sunset'] }} </td>
</tr>
<tr>
<td>Next Equinox:</td><td>{{ sun['next_equinox'] }} </td>
</tr>
<tr>
<td>Next Solstice:</td><td>{{ sun['next_solstice'] }} </td>
</tr>
</table>

<h2>Planet Information</h2>

</div>

<div id="iss">

<h2>ISS Current Information</h2>
<table>
<tr>
<td>ISS Geocentric Lat:</td><td>{{ isscurrent['geolat'] }}</td>
</tr>
<tr>
<td>ISS Geocentric Lon:</td><td>{{ isscurrent['geolong'] }}</td>
</tr>
<tr>
<td>ISS Elevation:</td><td>{{ isscurrent['elevation_miles'] }} Miles</td>
</tr>
</table>

{{ iframe|safe }}

<h2>ISS Passes</h2>

<table>
<tr>
<td>Start Time</td><td></td><td>End Time</td>
</tr>
  {% for pass in iss_pass_list %}
<tr>
      <td>{{ pass['aos'] }}</td><td>|</td><td>{{  pass['los'] }}</td>
</tr>
  {% endfor %}
</table>

</div>

<div id="indi">
HOLDING PLACE FOR INDI Services
{{ indi[0]  }}
</div>

</div>



</body>


</html>
